@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

@import url('variables.css');
@import url('base.css');

@import url('components/flex-grid.css');
@import url('components/buttons.css');
@import url('components/forms.css');

body {
    font-family: Arial, Helvetica, sans-serif;
}

#home{
    background-image: url("../images/img1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    overflow: hidden;
    height: 100vh;
}
#OnzeParken {
    background-color: rgb(230, 230, 230)
}
h1{
    margin-left: 42%;
    font-size: 60pt;
    font-weight: 700;
    text-align: center;
}

p{
    margin-right: 18%;
    text-align:  right; 
    padding-bottom: 3%;
}
a {
    text-decoration: none;
    color: black;
}
#link a{
    margin-left:73%;
    border: 2px solid hsla(281, 63%, 51%, 1);
    padding: 1% 2%;
    text-decoration: none;
    color:black;
}
nav{
    width: 100%;
    height: 100px;
    display: block;
    clear: both;
    background-color: #ffffff;
}

nav  h2 {
    margin-left: 4%;
    width: 400px;
    float: left;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 800px;
    float: right;
    line-height: 3.5;

  }
  
 nav ul li {
    display: inline-block;
    padding: 14px 16px;

  }
  
 nav ul li a {
    color: black;
    display: block;
    text-decoration: none;
    border: none;
  }

  h2{
      margin-left:4%
  }

  .intro{
      clear: both;
      width: 100%;
      padding: 7% 0 7% 0;
      background-color: var(--c-primary);
  }
  .divider{
      height: 80px;
      width: 100%;
      background: #ffffff;
  }

  .intro p{
      text-align: center;
      color: #ffffff;
      width: 60%;
      font-size: 26px;
      margin: 0 auto
  }
.card_grid{
    width: 80%;
    margin: -14% auto;
    display: flex;
    justify-content: space-around;
}
  .card{
      width: 40%;
      display: flex;
      padding: 11%;
      position: relative;

  }
  .card img{
      width: 400px;
      height: 400px;
      float: left;
  }
  .card .text {
    width: 400px;
    padding: 5%;
    background-color: #ffffff;
    box-shadow: 0px 10px 10px rgba(0, 0, 0 , 0.10);
    /* float: right; */
    position: absolute;
    margin-left: -49%;
    bottom: 65px;
  }
  .card .text p{
    text-align: left;

  }

  /* RESPONSIVE */

  @media screen and (max-width: 1200px) {
      .card_grid{
          flex-direction: column;
      }
      .card{
          margin: 0 auto;
          width: 58%;
      }
      .card .text{
          margin-left: -15%;
      }
      .card img {
          width: 100%;
      }
  }