@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

@import url('variables.css');
@import url('base.css');

@import url('components/flex-grid.css');
@import url('components/buttons.css');
@import url('components/forms.css');

body {
    font-family: Arial, Helvetica, sans-serif;
}

#home{
    background-image: url("../images/img1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

h1{
    margin-left: 42%;
    font-size: 60pt;
    font-display: bold;
    text-align: center;
}

p{
    margin-right: 18%;
    text-align:  right; 
    padding-bottom: 3%;
}

a{
    margin-left:73%;
    border: 2px solid hsla(281, 63%, 51%, 1);
    padding: 1% 2%;
    text-decoration: none;
    color:black;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
 nav ul li {
    float: left;
  }
  
 nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }